---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<%= partial "components/collection--start", 
  :locals => {
    :modifier => "posts"
  }
%>

  <% page_articles.each_with_index do |article, i| %>
    <li class="collection__item">
      <%= partial "components/article-summary",
        :locals => {
          :modifier => "listing",
          :heading => article.title,
          :link => article.url,
          :copy => article.summary(400),
          :date => article.date,
          :tags => article.tags 
        }
      %>
    </li>
  <% end %>

<%= partial "components/collection--end" %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
